/__pycache__
/.vscode
/.env
/data/logging.log
/data/history.json
/data/lastAnnouncement.json
/moderation/__pycache__/
/verification/__pycache__/
pen_log.csv
load_log.py
config.py
data/penalty_log.xlsx
