src/__pycache__
/.vscode
/.env
/data/logging.log
/data/numbersList.json
/data/numbersIds.json
src/moderation/__pycache__/
/__pycache__/
src/load_log.py
/data/AvailableNumbers.xlsx
/data/discord_credentials.json
/data/google_credentials.json
/data/gemini_credentials.json
/data/report_window_notice.json
/data/schedule.json
/src/database/__pycache__/
/src/google_sheets/__pycache__/
/src/AI/__pycache__/
/data/gemini_commands.txt
/data/gemini_description.txt
/data/gemini_descriptions/
/src/AI/commands/