src/__pycache__
/.vscode
/.env
/data/logging.log
/data/numbersList.json
src/moderation/__pycache__/
/__pycache__/
src/load_log.py
src/config.py
/data/AvailableNumbers.xlsx
/data/google_credentials.json
/data/gemini_credentials.json
/data/report_window_notice.json
/data/schedule.json
/src/database/__pycache__/
/src/google_sheets/__pycache__/
/src/AI/__pycache__/